* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#first_nav {
  border: solid;
  background-color: black;
  height: 70px;
  display: flex;
  justify-content: space-around;
}

#first_nav > ul {
  list-style: none;
  height: inherit;
  display: flex;
  align-items: center;
  width: 40%;
  margin-right: 120px;
}

#first_nav > ul:nth-child(1) {
  justify-content: space-evenly;
}

#first_nav > ul:nth-child(2) {
  justify-content: end;
  gap: 30px;
}

#first_nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#first_nav button {
  border-radius: 20px;
  padding: 8px;
  font-weight: bold;
}
#navbarButton {
  background-color: transparent;
  border: none;
}

/* ! Second Nav bar */
#second_nav {
  display: flex;
  align-items: center;
  height: 50px;
}
#second_nav article {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
}
#second_nav article:first-child {
  flex-basis: 12%;
  p {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: bolder;
  }
}
#second_nav article:nth-child(2) {
  flex-basis: 88%;
}
#second_nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  width: 50%;
  height: 50px;
  margin-bottom: 0;
  margin-right: 120px;
  a {
    text-decoration: none;
    color: rgb(148, 162, 169);
    font-size: 16px;
  }
  a:hover {
    color: black;
  }
}

#explore > .exploreDropDown {
  position: absolute;
  left: 160px;
  top: 180px;
  color: black;
  list-style: none;
  border: 0.5px solid rgb(148, 162, 169);
  padding: 5px;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: column;
  display: none;
  border-radius: 20px;
}
.exploreDropDown > li {
  padding: 5px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.exploreDropDown > li:hover {
  background-color: rgb(148, 162, 169);
}
#explore > .exploreDropDown > li > a {
  color: gray;
}

#explore:hover > .exploreDropDown {
  display: block;
}

.exploreDropDown ul {
  display: none;
  position: absolute;
  left: 200px;
  border: 0.5px solid rgb(148, 162, 169);
  list-style: none;
  padding: 10px;
}

.exploreDropDown > li:hover ul {
  display: block;
}

/* ! Section Part started */

#form_Data aside {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#form_Data aside:nth-child(2) {
  justify-content: start;
}
#img figure {
  height: 90%;
  width: 90%;
}
#img img {
  height: 100%;
  width: 100%;
}

#form_Data .dropdown button {
  background-color: rgb(240, 240, 240);
  color: black;
  border: none;
  border-radius: 20px;
}
#form p {
  margin: 0;
}

#form > div {
  height: 75%;
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 80px;
  div {
    flex-basis: 50%;
    h1 {
      font-weight: 700;
      font-size: 50px;
    }
  }
  form {
    flex-basis: 50%;
    width: 100%;
    position: relative;
    display: grid;
    gap: 30px;
    div {
      margin: 0;
      padding: 10px;
      height: 50px;
      display: flex;
      align-items: center;
      background-color: rgb(240, 240, 240);
      border-radius: 10px;
      input {
        width: 90%;
        height: 30px;
        background-color: transparent;
        border: none;
      }
    }
    button {
      width: 40%;
      background-color: black;
      color: white;
      font-weight: 500;
      border-radius: 20px;
      padding: 0;
    }
  }
}

.tag {
  margin-top: 50px;
}

.dropdown {
  margin: 20px 0px;
}

.fa-tag {
  color: green;
}

#form form > .line {
  height: 77px;
  border-radius: 0;
  border-left: solid;
  position: absolute;
  left: 17px;
  background-color: transparent;
  top: 27px;
}

#suggestions {
  height: 60vh;
}

#suggestions > aside {
  height: inherit;
}

#suggestions aside > div {
  width: 30%;
  height: 43%;
  background-color: rgb(243, 243, 243);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  div {
    width: 100%;
    img {
      max-width: 130px;
      max-height: 130px;
    }
  }
  .details {
    padding-left: 10px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 15px;
  }

  .details button {
    background-color: white;
    border-radius: 20px;
    padding: 5px 15px;
    border: none;
  }

  .details button:hover {
    background-color: transparent;
  }
}

/* ! Plan */

#plan {
  height: 60vh;
  width: 100%;
  /* border: solid; */
  margin-top: 50px;
  display: flex;
}

#plan > div {
  display: flex;
  height: 100%;
  justify-content: center;
}
#plan > #container_one {
  align-items: center;
  flex-basis: 65%;
}

#container_one > div {
  padding: 30px;
  height: 90%;
  width: 90%;
  background-image: url("https://tb-static.uber.com/prod/udam-assets/5152cc71-a5b0-4fbd-aeb8-bee896efcd48.png");
  background-repeat: no-repeat;
  background-position: right;
  background-color: rgb(157, 205, 214);
  border-radius: 20px;
}

#container_one h1 {
  width: 50%;
}

#container_one p {
  margin-top: 40px;
}

#plan form {
  width: 50%;
  height: 70%;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: column;
}

#dateContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  aside {
    flex-basis: 50%;
  }
}

#dateContainer label {
  display: block;
}

#dateContainer input {
  width: 100%;
  padding: 6px;
}

#container_one form > aside {
  width: 100%;
  margin-top: 5px;
  text-align: center;
}
#container_one button {
  width: 100%;
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 10px;
}

#plan div:nth-child(2) {
  margin-top: 30px;
  height: 90%;
  border: 0.5px solid rgb(219, 214, 214);
  flex-basis: 35%;
  padding: 15px;
  border-radius: 20px;
  div {
    height: 100%;
  }
  table {
    height: 250px;
    width: 75%;
    padding: 10px;
    /* border: solid; */
    margin-left: 40px;
    margin-top: 30px;
  }

  td {
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: rgb(200, 200, 200);
    font-size: 20px;
    border-bottom: dotted;
  }
}

#ride_friends {
  margin-top: 50px;
  display: flex;
  align-items: center;
  height: 60vh;
}

#ride_friends > div {
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#ride_friends div:nth-child(2) {
  div {
    width: 70%;
    height: 70%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
#ride_friends img {
  width: 100%;
  height: 80%;
}

#ride_friends a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  border-bottom: solid black;
}

#travel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
}

#travel div {
  width: 90%;
}

#travel img {
  width: 100%;
}

#travel button {
  background-color: black;
  color: white;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 5px;
}

#business_solutions {
  height: 80vh;
  width: 99.99%;
  margin-top: 30px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#business_solutions > div {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  height: 100%;
}

#business_solutions > div:first-child {
  flex-direction: column;
}
#business_solutions > div > div {
  height: 80%;
  width: 50.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  p {
    font-size: 20px;
  }
  ul {
    height: 60%;
    display: grid;
    align-items: start;
    justify-content: space-evenly;
  }
}
#business_solutions img {
  width: 80%;
  height: 50%;
}

#business_solutions a {
  color: white;
}

#business_solutions button {
  padding: 8px 15px;
  background-color: white;
  color: black;
  margin-right: 20px;
  border-radius: 10px;
}
